:root {
  --active: #203c56;
  --active-album: #0064d3;
  --active-album-color: #ffffff;
  --active-border: #26b0ff;
  --active-color: #ffffff;
  --active-controls: #ff0080;
  --active-controls-font: #ffffff;
  --album-cover-tools: #2d2d2d;
  --album-cover-tools-extra-icons-bkgd: #373737;
  --album-cover-tools-extra-icons-icon: #265bff;
  --album-cover-tools-extra-icons-bkgd-hover: #203c56;
  --album-cover-tools-extra-icons-icon-hover: #ff0080;
  --bar: #0064d3;
  --bar-outline-background: #191970;
  --borders: #26b0ff;
  --button-hover: #ff0080;
  --button-on: #ff0080;
  --container-home-background: #000000;
  --control-on: #ff0080;
  --controls-background: none;
  --controls-blink: #ff0080;
  --controls-button-hover: lightgray;
  --controls-button-icon-hover: #26b0ff;
  --controls-icon: #ffffff;
  --cover-tools-range-thumb: #ff1d58;
  --cover-tools-range-track: #2686ff;
  --covers-loading: #2686ff;
  --covers-scrollbar: #2686ff;
  --covers-scrollbar-thumb: lightgray;
  --covers-scrollbar-buttons: #ff0080;
  --form-background: #373737;
  --form-label: #414141;
  --form-radio-checked: #26b0ff;
  --form-color: #ffffff;
  --form-button-background: #26b0ff;
  --form-button-color: #ffffff;
  --highlight: #ffffff;
  --item-hover: #265bff;
  --item-hover-color: #ffffff;
  --likedBtn: #ff0080;
  --list-background: #2686ff;
  --list-font-color: #ffffff;
  --list-scroll-active: #26b0ff;
  --list-scroll-inactive: lightgray;
  --main-nav-background: #2d2d2d;
  --main-nav-active: #2686ff;
  --main-nav-active-color: #ffffff;
  --main-nav-font-color: #ffffff;
  --main-nav-hover-color: #26b0ff;
  --main-nav-hover-menu: #2686ff;
  --main-nav-hover-menu-color: #ffffff;
  --minimode-control-icons: #265bff;
  --overlay: #390502cc;
  --overlay-menu: #26b0ff;
  --overlay-hover: #26b0ff;
  --overlay-play-stop-button: #26b0ff;
  --overlay-play-stop-button-hover: #ff0080;
  --player-background: #000000;
  --player-font-color: #ffffff;
  --root-highlight: #ff0080;
  --root-highlight-color: #ffffff;
  --sort-icon-active: #ff0000;
  --sort-icon-inactive: #ffffff;
  --status-loader-background: #ffffff;
  --status-loader-bar: #26b0ff;
  --tab-background-active: #26b0ff;
  --tab-background-inactive: '';
  --tab-font-active: #ffffff;
  --tab-font-inactive: #ffffff;
  --tags-nav-background: #2d2d2d;
  --tags-nav-color: #ffffff;
  --tags-results-background: #2d2d2d;
  --tags-results-color: #ffffff;
  --tags-nav-menu-background-hover: #000000;
  --tags-nav-menu-color-hover: #ffffff;
  --tags-list-header-background: #2d2d2d;
  --tags-list-header-color: #ffffff;
  --tags-list-header-controls-background: #265bff;
  --tags-list-header-text-color: #ffffff;
  --tags-list-header-input: #ffffff;
  --tags-list-header-icon: #ff0000;
  --tags-nav-selected: #ff0080;
  --tags-nav-selected-color: #ffffff;
  --tags-row-even: #26b0ff;
  --tags-row-even-color: #000000;
  --tags-row-odd: #000000;
  --tags-row-odd-color: #ffffff;
  --update-container-background: #2d2d2d;
}
