.theme-2 {
  --active: #379b37;
  --active-album: lightgray;
  --active-album-color: #000000;
  --active-border: #636323;
  --active-color: #ffffff;
  --active-controls: #379b9b;
  --active-controls-font: #ffffff;
  --album-cover-tools: #9b3737;
  --album-cover-tools-extra-icons-bkgd: #379b37;
  --album-cover-tools-extra-icons-icon: #ffffff;
  --album-cover-tools-extra-icons-bkgd-hover: #636323;
  --album-cover-tools-extra-icons-icon-hover: #ffffff;
  --album-tracks-play: #ff0090;
  --bar: #379b37;
  --bar-outline-background: #9b9b37;
  --borders: #636323;
  --button-hover: #379b37;
  --button-on: #ff0090;
  --color1: #636323;
  --color2: #379b37;
  --color3: #006400;
  --color4: #9b9b37;
  --container-home-background: #9b3737;
  --control-on: #f9ec59;
  --controls-background: #9b9b37;
  --controls-button-hover: lightgray;
  --controls-button-icon-hover: #5ac45a;
  --controls-icon: #006400;
  --cover-tools-range-thumb: #ffffff;
  --cover-tools-range-track: #5ac45a;
  --covers-loading: #379b37;
  --covers-scrollbar: #379b37;
  --covers-scrollbar-thumb: #636323;
  --covers-scrollbar-buttons: #f9ec59;
  --form-background: #ae3e3e;
  --form-label: #be4747;
  --form-radio-checked: #f9ec59;
  --form-color: #dfa4a4;
  --form-button-background: #f9ec59;
  --form-button-color: #000000;
  --highlight: #379b37;
  --item-hover: #5ac45a;
  --likedBtn: #f9ec59;
  --list-background: #9b3737;
  --list-font-color: #ffffff;
  --list-scroll-active: #5ac45a;
  --list-scroll-inactive: #808080;
  --main-nav-background: #9b3737;
  --main-nav-font-color: #dfa4a4;
  --main-nav-hover-color: #5ac45a;
  --main-nav-hover-menu: #379b37;
  --main-nav-hover-menu-color: #ffffff;
  --minimode-control-icons: #dfa4a4;
  --overlay: #390502cc;
  --overlay-color: #ffffff;
  --player-background: #9b3737;
  --player-font-color: #ffffff;
  --root-highlight: #9b9b37;
  --root-highlight-color: #000000;
  --sort-icon-active: #5ac45a;
  --sort-icon-inactive: #ffffff;
  --status-loader-background: #5ac45a;
  --status-loader-bar: #dfa4a4;
  --tab-background-active: #9b9b37;
  --tab-background-inactive: '';
  --tab-font-active: #000000;
  --tab-font-inactive: #ffffff;
  --tags-nav-background: #9b3737;
  --tags-nav-color: #ffffff;
  --tags-results-background: #9b3737;
  --tags-results-color: #ffffff;
  --tags-nav-menu-background-hover: #dfa4a4;
  --tags-nav-menu-color-hover: #000;
  --tags-list-header-background: #9b3737;
  --tags-list-header-color: #000000;
  --tags-list-header-controls-background: #636323;
  --tags-list-header-text-color: #ffffff;
  --tags-list-header-input: #ffffff;
  --tags-list-header-icon: #f9ec59;
  --tags-nav-selected: #9b9b37;
  --tags-nav-selected-color: #000000;
  --tags-row-even: #5ac45a;
  --tags-row-even-color: #000000;
  --tags-row-odd: #f9ec59;
  --tags-row-odd-color: #000000;
  --user-indicate: red;
  --update-container-background: #9b3737;
}
