.theme-5 {
  --active: #f95966;
  --active-album: lightgray;
  --active-album-color: #000000;
  --active-border: #00ddff;
  --active-controls: #00ddff;
  --active-controls-font: #ffffff;
  --active-color: #ffffff;
  --album-cover-tools: #ff1d58;
  --album-cover-tools-extra-icons-bkgd: #00ddff;
  --album-cover-tools-extra-icons-icon: #ffffff;
  --album-cover-tools-extra-icons-bkgd-hover: #ffffff;
  --album-cover-tools-extra-icons-icon-hover: #00ddff;
  --album-tracks-play: #ff0090;
  --bar: #fff685;
  --bar-outline-background: #00ddff;
  --borders: #00ddff;
  --button-hover: #fff685;
  --button-on: #00ddff;
  --color1: #00ddff;
  --color2: #fff685;
  --color3: #0049b7;
  --color4: #f9ec59;
  --container-home-background: #ff1d58;
  --control-on: #00ddff;
  --controls-background: #f9ec59;
  --controls-button-hover: lightgray;
  --controls-button-icon-hover: #00ddff;
  --controls-icon: #0049b7;
  --cover-tools-range-thumb: #00ddff;
  --cover-tools-range-track: #2686ff;
  --covers-loading: #fff685;
  --covers-scrollbar: #fff685;
  --covers-scrollbar-thumb: #00ddff;
  --covers-scrollbar-buttons: #ff0080;
  --form-background: #ff1d32;
  --form-label: #f50040;
  --form-radio-checked: #1dffc4;
  --form-radio-unchecked: ;
  --form-color: #ffffff;
  --form-button-background: #1dffc4;
  --form-button-color: #000000;
  --highlight: #00ddff;
  --item-hover: #f99c59;
  --likedBtn: #00ddff;
  --list-background: #ff1d58;
  --list-font-color: #0049b7;
  --list-scroll-active: #0049b7;
  --list-scroll-inactive: #808080;
  --main-nav-background: #ff1d58;
  --main-nav-font-color: #fff685;
  --main-nav-hover-color: #00ddff;
  --main-nav-hover-menu: #00ddff;
  --main-nav-hover-menu-color: #ffffff;
  --minimode-control-icons: #dfa4a4;
  --overlay: #390502cc;
  --overlay-color: #ffffff;
  --player-background: #ff1d58;
  --player-font-color: #ffffff;
  --root-highlight: #00ddff;
  --root-highlight-color: #000000;
  --sort-icon-active: #0049b7;
  --sort-icon-inactive: #ffffff;
  --status-loader-background: #f9ec59;
  --status-loader-bar: #00ddff;
  --tab-background-active: #0049b7;
  --tab-background-inactive: '';
  --tab-font-active: #fff685;
  --tab-font-inactive: #ffffff;
  --tags-nav-background: #ff1d58;
  --tags-nav-color: #00ddff;
  --tags-results-background: #ff1d58;
  --tags-results-color: #00ddff;
  --tags-nav-menu-background-hover: #00ddff;
  --tags-nav-menu-color-hover: #000000;
  --tags-list-header-background: #ff1d58;
  --tags-list-header-color: #000000;
  --tags-list-header-controls-background: #1dffc4;
  --tags-list-header-text-color: #000000;
  --tags-list-header-input: #ffffff;
  --tags-list-header-icon: #1dffc4;
  --tags-nav-selected: #fff685;
  --tags-nav-selected-color: #000000;
  --tags-row-even: #fff685;
  --tags-row-even-color: #000000;
  --tags-row-odd: #dfa4a4;
  --tags-row-odd-color: #000000;
  --user-indicate: red;
  --update-container-background: #ff1d58;
}
