.theme-4 {
  --active: #f95966;
  --active-album: lightgray;
  --active-album-color: #000000;
  --active-border: #ffffff;
  --active-color: #ffffff;
  --active-controls: #ff0000;
  --active-controls-font: #ffffff;
  --album-cover-tools: #ffbe6e;
  --album-cover-tools-extra-icons-bkgd: #f95966;
  --album-cover-tools-extra-icons-icon: #000000;
  --album-cover-tools-extra-icons-bkgd-hover: #000000;
  --album-cover-tools-extra-icons-icon-hover: #f95966;
  --album-tracks-play: #ff0090;
  --bar: #f95966;
  --bar-outline-background: #f9ec59;
  --borders: #ffffff;
  --button-hover: #265bff;
  --button-on: #ff0000;
  --color1: #ffffff;
  --color2: #f95966;
  --color3: #f95966;
  --color4: #f9ec59;
  --container-home-background: #ffbe6e;
  --control-on: #ff0080;
  --controls-background: #f9ec59;
  --controls-button-hover: lightgray;
  --controls-button-icon-hover: #ff0000;
  --controls-icon: #265bff;
  --cover-tools-range-thumb: #808080;
  --cover-tools-range-track: #ff0000;
  --covers-loading: #f95966;
  --covers-scrollbar: #f95966;
  --covers-scrollbar-thumb: #ffffff;
  --covers-scrollbar-buttons: #ff0080;
  --form-background: #ffc988;
  --form-label: #ffd5a1;
  --form-radio-checked: #f95966;
  --form-color: #000000;
  --form-button-background: #f95966;
  --form-button-color: #ffffff;
  --highlight: #808080;
  --item-hover: #f99c59;
  --likedBtn: #ff0000;
  --list-background: #ffbe6e;
  --list-font-color: #000000;
  --list-scroll-active: #f95966;
  --list-scroll-inactive: #808080;
  --main-nav-background: #ffbe6e;
  --main-nav-font-color: #000000;
  --main-nav-hover-color: #ffffff;
  --main-nav-hover-menu: #f95966;
  --main-nav-hover-menu-color: #ffffff;
  --minimode-control-icons: #808080;
  --overlay: #390502cc;
  --overlay-color: #ffffff;
  --player-background: #ffbe6e;
  --player-font-color: #000000;
  --root-highlight: #265bff;
  --root-highlight-color: #ffffff;
  --sort-icon-active: #f95966;
  --sort-icon-inactive: #ffffff;
  --status-loader-background: #000000;
  --status-loader-bar: #f95966;
  --tab-background-active: #f95966;
  --tab-background-inactive: '';
  --tab-font-active: #000000;
  --tab-font-inactive: #000000;
  --tags-nav-background: #ffbe6e;
  --tags-nav-color: #000000;
  --tags-results-background: #ffbe6e;
  --tags-results-color: #000000;
  --tags-nav-menu-background-hover: #ff0090;
  --tags-nav-menu-color-hover: #ffffff;
  --tags-list-header-background: #ffbe6e;
  --tags-list-header-color: #000000;
  --tags-list-header-controls-background: #766eff;
  --tags-list-header-text-color: #ffffff;
  --tags-list-header-input: #ffffff;
  --tags-list-header-icon: #766eff;
  --tags-nav-selected: #265bff;
  --tags-nav-selected-color: #ffffff;
  --tags-row-even: #f95966;
  --tags-row-even-color: #000000;
  --tags-row-odd: #808080;
  --tags-row-odd-color: #ffffff;
  --user-indicate: red;
  --update-container-background: #ffbe6e;
}
