.theme-1 {
  --background-1: #fefefe;
  --background-2: #504e50;
  --non-active-icons: #939393;
  --active-icons: #008080;
  --hover: #bebebe;
  --text-1: #000000;
  --text-2: #ffffff;

  --control-track: #888888;
  --control-fill: #c8c8c8;

  --accent-primary: #008080;
  --accent-secondary: #ff7f50;

  --active: var(--active-icons);
  --active-album: var(--active-icons);
  --active-album-color: var(--text-1);
  --active-border: var(--background-2);
  --active-color: var(--text-2);
  --active-controls: var(--active-icons);
  --active-controls-font: var(--text-2);
  --album-cover-tools: var(--background-1);
  --album-cover-tools-extra-icons-bkgd: var(--background-2);
  --album-cover-tools-extra-icons-bkgd-hover: var(--hover);
  --album-cover-tools-extra-icons-icon: var(--non-active-icons);
  --album-cover-tools-extra-icons-icon-hover: var(--hover);
  --bar: var(--control-fill);
  --bar-outline-background: var(--control-track);
  --borders: var(--background-2);
  --button-on: var(--active-icons);
  --container-home-background: var(--background-1);
  --control-on: var(--active-icons);
  --controls-background: none;
  --controls-blink: var(--accent-primary);
  --controls-blink-hover: var(--accent-primary);
  --controls-button-icon-hover: var(--hover);
  --controls-icon: var(--accent-secondary);
  --cover-tools-range-thumb: var(--control-fill);
  --cover-tools-range-track: var(--control-track);
  --covers-loading: var(--background-2);
  --covers-scrollbar: var(--control-track);
  --covers-scrollbar-buttons: var(--background-2);
  --covers-scrollbar-thumb: var(--background-2);
  --form-background: var(--background-1);
  --form-button-background: var(--active-icons);
  --form-button-color: var(--text-2);
  --form-color: var(--text-2);
  --form-label: var(--background-2);
  --form-radio-checked: var(--active-icons);
  --form-title: var(--accent-primary);
  --item-background: var(--background-1);
  --item-hover: var(--hover);
  --item-hover-color: var(--text-2);
  --item-menu: var(--non-active-icons);
  --likedBtn: var(--active-icons);
  --list-background: var(--background-1);
  --list-font-color: var(--text-1);
  --list-scroll-active: var(--active-icons);
  --list-scroll-inactive: var(--non-active-icons);
  --main-nav-active: var(--active-icons);
  --main-nav-active-color: var(--text-2);
  --main-nav-background: var(--background-1);
  --main-nav-font-color: var(--accent-primary);
  --main-nav-hover-menu: var(--hover);
  --main-nav-hover-menu-color: var(--text-1);
  --overlay: var(--background-2);
  --overlay-color: var(--text-1);
  --player-background: var(--background-1);
  --player-font-color: var(--accent-primary);
  --root-highlight: var(--active-icons);
  --root-highlight-color: var(--text-1);
  --sort-icon-active: var(--active-icons);
  --sort-icon-inactive: var(--non-active-icons);
  --status-loader-background: var(--control-fill);
  --status-loader-bar: var(--control-track);
  --tab-background-active: var(--active-icons);
  --tab-font-active: var(--text-2);
  --tab-font-inactive: var(--accent-primary);
  --tags-list-header-background: var(--background-1);
  --tags-list-header-controls-background: var(--background-1);
  --tags-list-header-icon: var(--non-active-icons);
  --tags-list-header-input: var(--text-2);
  --tags-list-header-text-color: var(--text-1);
  --tags-nav-background: var(--background-1);
  --tags-nav-color: var(--accent-primary);
  --tags-nav-menu-background-hover: var(--hover);
  --tags-nav-menu-color-hover: var(--text-2);
  --tags-nav-selected: var(--active-icons);
  --tags-nav-selected-color: var(--text-2);
  --tags-results-background: var(--background-1);
  --tags-results-color: var(--accent-primary);
  --tags-root-hover: var(--hover);
  --tags-root-hover-color: var(--text-2);
  --tags-row-even: var(--background-1);
  --tags-row-even-color: var(--text-1);
  --tags-row-odd: var(--background-2);
  --tags-row-odd-color: var(--text-2);
  --update-container-background: var(--background-1);
}
