.theme-4 {
  --background-1: #777ad8;
  --background-2: #bd93e0;
  --non-active-icons: #eeb4ba;
  --active-icons: #ffe7d7;
  --hover: #f4d4d3;
  --text-light: #ffffff;
  --text-dark: #000000;
  --text-accent: #ffe7d7;
  --track-background: #b2b4e9;
  --track-foreground: #f4d4d3;

  --active: var(--active-icons);
  --active-album: var(--active-icons);
  --active-album-color: var(--text-light);
  --active-border: var(--background-2);
  --active-color: var(--text-dark);
  --active-controls: var(--active-icons);
  --active-controls-font: var(--text-dark);
  --album-cover-tools: var(--background-1);
  --album-cover-tools-extra-icons-bkgd: var(--background-2);
  --album-cover-tools-extra-icons-bkgd-hover: var(--hover);
  --album-cover-tools-extra-icons-icon: var(--non-active-icons);
  --album-cover-tools-extra-icons-icon-hover: var(--hover);
  --bar: var(--track-foreground);
  --bar-outline-background: var(--track-background);
  --borders: var(--background-2);
  --button-on: var(--active-icons);
  /*   --color4: var(--background-1); */
  --container-home-background: var(--background-1);
  --control-on: var(--active-icons);
  --controls-background: none;
  --controls-button-icon-hover: var(--hover);
  --controls-icon: var(--non-active-icons);
  --cover-tools-range-thumb: var(--track-foreground);
  --cover-tools-range-track: var(--track-background);
  --covers-loading: var(--background-2);
  --covers-scrollbar: var(--track-background);
  --covers-scrollbar-buttons: var(--background-2);
  --covers-scrollbar-thumb: var(--background-2);
  --form-background: var(--background-1);
  --form-button-background: var(--active-icons);
  --form-button-color: var(--text-dark);
  --form-color: var(--text-dark);
  --form-label: var(--background-2);
  --form-radio-checked: var(--active-icons);
  --form-title: var(--text-accent);
  --item-background: var(--background-1);
  --item-hover: var(--hover);
  --item-hover-color: var(--text-dark);
  --item-menu: var(--non-active-icons);
  --likedBtn: var(--active-icons);
  --list-background: var(--background-1);
  --list-font-color: var(--text-light);
  --list-scroll-active: var(--active-icons);
  --list-scroll-inactive: var(--non-active-icons);
  --main-nav-active: var(--active-icons);
  --main-nav-active-color: var(--text-dark);
  --main-nav-background: var(--background-1);
  --main-nav-font-color: var(--text-accent);
  --main-nav-hover-menu: var(--hover);
  --main-nav-hover-menu-color: var(--text-light);
  --overlay: var(--background-2);
  --overlay-color: var(--text-light);
  --player-background: var(--background-1);
  --player-font-color: var(--text-accent);
  --root-highlight: var(--active-3);
  --root-highlight-color: var(--text-light);
  --sort-icon-active: var(--active-icons);
  --sort-icon-inactive: var(--non-active-icons);
  --status-loader-background: var(--track-foreground);
  --status-loader-bar: var(--track-background);
  --tab-background-active: var(--active-icons);
  --tab-font-active: var(--text-dark);
  --tab-font-inactive: var(--text-accent);
  --tags-list-header-background: var(--background-1);
  --tags-list-header-controls-background: var(--background-1);
  --tags-list-header-icon: var(--non-active-icons);
  --tags-list-header-input: var(--text-dark);
  --tags-list-header-text-color: var(--text-light);
  --tags-nav-background: var(--background-1);
  --tags-nav-color: var(--text-accent);
  --tags-nav-menu-background-hover: var(--hover);
  --tags-nav-menu-color-hover: var(--text-dark);
  --tags-nav-selected: var(--active-icons);
  --tags-nav-selected-color: var(--text-dark);
  --tags-results-background: var(--background-1);
  --tags-results-color: var(--text-accent);
  --tags-row-even: var(--background-1);
  --tags-row-even-color: var(--text-light);
  --tags-row-odd: var(--background-2);
  --tags-row-odd-color: var(--text-dark);
  --update-container-background: var(--background-1);
}
