/* .roots-form {
  color: black;
  padding: 20px;
  max-width: 400px;
  margin: auto;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
} */

.back-icon:hover {
  cursor: pointer;
}
