/* CustomSlider.css */
.slider-container {
  position: relative;
  width: 20%;
  height: 20px;
  background-color: lightgray;
  border-radius: 10px;
  cursor: pointer;
  margin-left: 10%;
}

.slider-track {
  position: absolute;
  height: 100%;
  background-color: darkgray;
  border-radius: 10px;
  pointer-events: none;
}
